@keyframes fade-in {
  from { opacity: 0 }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: var(--secondary-label-color);
}

.title {
  position: absolute;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 24px;
  line-height: 24px;
  color: var(--window-title-color);
}

.logo {
  width: 140px;
  pointer-events: none;
}

.open-image-guide {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.select-button {
  composes: unbutton from '../../lib/util.scss';
  color: inherit;

  text-decoration: underline;
}

.hide {
  display: none;
}
